# APP_DOMAIN: the domain where the app is to be made available
export APP_DOMAIN=
# DOKKU_APP: the name of the app to be created via Dokku
export DOKKU_APP=
# DOKKU_HOST: the address of the machine where the app is to be deployed
export DOKKU_HOST=
# DOMAIN_EMAIL: the email address to use when requesting LetsEncrypt certificates
export DOMAIN_EMAIL=
# REMOTE_IMAGE_PATH: the root path on the remote server where images are stored
export REMOTE_IMAGE_PATH=

source_env_if_exists .envrc.private

if has ensure_all_documented; then
  ensure_all_documented
else
  echo -e "\e[1;31mMissing direnv extension 'ensure_all_documented'\e[0m"
fi

if has ensure_all_set; then
  ensure_all_set
else
  echo -e "\e[1;31mMissing direnv extension 'ensure_all_set'\e[0m"
fi


